body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Decreased size of the container */
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px; /* Margin between buttons */
}

/* Button colors */
#calculate {
    background-color: #4CAF50; /* Green */
}

#calculate:hover {
    background-color: #388E3C; /* Darker Green */
}

#continue {
    background-color: #FF9800; /* Orange */
}

#continue:hover {
    background-color: #F57C00; /* Darker Orange */
}

#restart {
    background-color: #2196F3; /* Blue */
}

#restart:hover {
    background-color: #1976D2; /* Darker Blue */
}

#export {
    background-color: #FFC107; /* Amber */
}

#export:hover {
    background-color: #FFA000; /* Darker Amber */
}

#exit {
    background-color: #F44336; /* Red */
}

#exit:hover {
    background-color: #C62828; /* Darker Red */
}

#results {
    margin-top: 20px;
    text-align: center;
}

#results p {
    margin: 5px 0;
}

#results span {
    font-weight: bold;
}
